@import '../main.scss';

.pancake-btn {
  font-family: $font;
  // color: $default-text-color;
  // background-color: $default-background-color;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  box-shadow: 0px 2px 2px rgb(87, 87, 87);

  @include colors($default-text-color, $default-background-color);

  &:active {
    transform: translate(0px, 2px);
    box-shadow: 0px 1px 2px rgb(95, 95, 95);
  }

  &.square {
    border-radius: 0;
  }

  &.primary {
    @include colors($primary-text-color,$primary-background-color);
  }

  &.secondary {
    @include colors($secondary-text-color,$secondary-background-color);
  }
  &.affirmative {
    @include colors($white-color,$affirmative-color);
  }
  &.error {
    @include colors($white-color,$error-color);
  }



  &.small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &.medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  &.large {
    font-size: 16px;
    padding: 12px 24px;
  }
}










