// COLORS

$white-color: #f6f6f6;

$black-color: #111111;

$dark-grey: #333333;


$default-text-color: #2E2E3A;
$default-background-color: $white-color;

$primary-text-color: $white-color;
$primary-background-color: #022B3A;

$secondary-background-color: #66999B;
$secondary-text-color: $white-color;

$affirmative-color: #659157;

$error-color: #9B2808;

/*
    #022B3A - Gunmetal
    #6A041D - Burgundy
    #82A0BC - Air Superiority Blue
    #659157 - Russian Green
    #9B2808 - Rufous
    #2E2E3A - Raisin Black

    81A4CD
    429EA6
    66999B

*/

// FONT FAMILY
$font: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;